{{!-- post.handlebars --}}
{{> header}}

<main>
    <h1>{{post.title}}</h1>
    <p>By: {{post.user.username}} on {{formatDate post.createdAt}}</p>
    <div>
        <p>{{post.content}}</p>
    </div>

    <h2>Comments</h2>
    {{#if comments.length}}
        <ul>
            {{#each comments}}
                <li>
                    <p><strong>{{this.user.username}}:</strong> {{this.content}} on {{formatDate this.createdAt}}</p>
                </li>
            {{/each}}
        </ul>
    {{else}}
        <p>No comments yet. Be the first to comment!</p>
    {{/if}}

    {{#if loggedIn}}
        <h3>Add a Comment</h3>
        <form action="/post/{{post.id}}/comment" method="POST">
            <textarea name="content" required></textarea>
            <button type="submit">Submit Comment</button>
        </form>
    {{else}}
        <p>You must be logged in to comment.</p>
    {{/if}}
</main>

{{> footer}}
